@mixin backImage($image, $height: 500px) {
    background: url($image);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto;
    height: $height;
    position: relative;
}

@mixin backMediaImage($image, $height: 36px) {
    background: url($image);
    height: $height;
}

@mixin backProductImage($image, $height: 170px) {
    background-image: url($image);
    background-repeat: no-repeat;
    background-position: left left;
    position: relative;
    height: $height;
}

//using math operation 
@mixin combineWidth($width) {
    width: ($width + 230px);
}

@mixin break($args...) {
    @if length($args)==1 {
        @media (min-width: nth($args, 1)) {
            @content;
        }
    }
    @else {
        @media (min-width: nth($args, 1)) and (max-width: nth($args, 2)) {
            @content;
        }
    }
}